* text=auto
.gitignore text eol=lf
.gitattributes text eol=lf
.editorconfig text eol=lf
.node-version text eol=lf
LICENSE text eol=lf
*.ps1 text eol=lf
*.psm1 text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.mjs text eol=lf
*.cmd text eol=crlf
*.png binary
*.ttf binary
*.ico binary
